In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

In [2]:
df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [3]:
df["spam"] = df["Category"].apply(lambda x: 1 if x=="spam" else 0)
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [4]:
df.drop("Category" , axis ="columns")

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [5]:
X_train , X_test , Y_train , Y_test = train_test_split(df.Message , df.spam , test_size =0.2)

In [6]:
email = [
    "Hey m otherfucker , whatsapp , what you doing bro" , 
    "You won apple 12",
    "Hey Gihan,I just wanted to reach out to you about my new five-step guide to unforgettable cityscapes.Everyone who attends the training today will get a copy", 
    "In the G10 FX Market, CAD and AUD are the top gainers today, up 0.13% and 0.07% versus the dollar while SEK and NZD are the top losers, down -0.26% and -0.17% versus the dollar, respectively. In the rates market, global yields were trading mixed today. The Japan 10-year was trading at 0.207, up 0.5bp. The US 10-year was trading at 2.789, down -1.8bp. The UK 10-year was trading at 1.928, down -2.05bp. The German 10-year was trading at 0.9975, down -3.25bp. In the Asian equities, markets were trading mixed today. The Hang Seng was trading at 20960.0, up 1.93%. The Kospi was trading at 2412.96, up 0.39%. The Nikkei 225 was trading at 27631.88, down -0.24%. In the European equities, indices were trading mixed today. The FTSE 100 was trading at 7352.4, up 0.63%. The Euro Stoxx 50 was trading at 3596.45, down -0.21%. The DAX 30 was trading at 13145.87, down -0.49%. Looking at Equity Futures so far,The FTSE100 Futures was trading at 7297.8, up 0.43%. The SP500 Futures was trading at 3962.5, down -0.19%. The Euro Stoxx 50 Futures was trading at 3592.0, down -0.28%. In the Energy space, Oil futures were trading firm today. The WTI Crude Futures was trading at 98.31, up 2.17%. The Brent Crude Futures was trading at 101.82, up 1.84%. "
]

In [7]:
cle =Pipeline([
    ("Vectorizer" , CountVectorizer()), 
    ("nb"  ,  MultinomialNB())
])

In [8]:
cle.fit(X_train , Y_train)

Pipeline(steps=[('Vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [9]:
cle.score(X_test , Y_test)

0.9865470852017937

In [10]:
cle.predict(email)

array([0, 1, 0, 0], dtype=int64)